# Ignore Secrets.plist because it contains API keys
Secrets.plist

# Ignore build folders
build/
DerivedData/

# Ignore user-specific Xcode files
*.xcuserdatad
*.xcscmblueprint

# Ignore Xcode scheme management files
xcuserdata/

# Ignore test folders
WeatherTests/
WeatherUITests/

# Ignore .DS_Store files
.DS_Store
